.theBox {
  background:#FFCC99;
  border: 1px solid green ;
   height: 550px;
   margin: 400px;
   padding: 20px;
   width: 450px;
   }
   h1
{
color:blue;
margin-left:525px;
font-family:"Monotype Corsiva";
}